<table align="center" valign="middle" class="text_large">
  <tr>
    <td>[ <%= weight.strategyid %> ]</td>
    <td> - </td>
    <td>[ <%= weight.value %> ]</td>
    <td><%= link_to 'Delete', [weight.option, weight], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
</table>