<%= form_for (@site) do |f| %>

    <!-- -->
    <td colspan="2" align="center" valign="middle" bgcolor="#FFFFFF">
      <% if @site.errors.any? %>
          <!-- -->
          <div class="validation_error">
            <h2>"This is not a valid site URL:"</h2>
            <ul>
              <% @site.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <%= f.text_field :url %>
    </td>

    <!-- -->
    <td align="center" valign="middle" bgcolor="#FFFFFF">
      <%= image_submit_tag "search.gif", :size => "18x17" %>
    </td>

<% end %>
